
.Tables h1 {
    font-size: 1.5em;
    color: #fff;
    background-color: black;
    width: 80%;
    padding: 0 20px;
    border-radius: 7px;
    margin: 60px auto;
}

.tabsContainer {
    margin-top: 10px;
   padding: 10px 0;
    display: flex;
    flex-direction: row;
    justify-content: center; 
    flex-wrap: wrap;
    gap: 4px;
}

.tab {
    padding: 5px;
    width: 150px;
    background: #000;
    color: #fff;
    font-weight: 500;
    border-radius: 5px;
    transition: .3s;
    cursor: pointer;
}

.tab:hover {
    background-color: #a3eb2c;
    text-shadow: 1px 1px 2px #0000007e;
}

.Tables .tableNullContainer {
    width: 100%;
    margin: 145px auto;
    color:#fff;
    text-shadow: 1px 1px 2px #0000006c;
}

.contentsContainer table{
    margin: 40px auto;
    padding: 5px 10px;
}