* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
}

:root {
    --border-color: #c6c3c3;
    --secondary-color: #a8ec2c;
    --light-color: #ffffff;
    --primary-color: #474747;
}

.login {
    background-image: url("/backgrounds/vecteezy_smart-cars-with-automatic-sensor-driving-on-green-road-with_8084667.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

a {
    text-decoration: none;
    color: var(--light-color);
}

a:hover {
    text-decoration: underline;
}

.wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
}

.login-box {
    position: relative;
    width: 450px;
    backdrop-filter: blur(25px);
    border: 2px solid var(--border-color);
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    padding: 7.5em 2.5em 4em 2.5em;
    color: var(--light-color);
}

.login-header {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(243, 255, 243);
    width: 280px;
    height: 70px;
    border-radius: 0 0 20px 20px;
    color: var(--primary-color);
}

.login-header::before {
    content: "";
    position: absolute;
    top: 0;
    left: -30px;
    width: 30px;
    height: 30px;
    border-top-right-radius: 50%;
    background: transparent;
    box-shadow: 15px 0 0 0 darkgray;
}

.login-header::after {
    content: "";
    position: absolute;
    top: 0;
    right: -30px;
    width: 30px;
    height: 30px;
    border-top-left-radius: 50%;
    box-shadow: -15px 0 0 0 darkgray;
}

.login-header img {
    width: 100px;
    filter: drop-shadow(2px 2px 4px #00000086);
}

.login-header .legend {
    margin-top: 20px;
    font-size: 2em;
    font-weight: bold;
    color: var(--light-color);
    text-shadow: 1px 1px 2px #00000077;
}

.login form {
    /* margin-top: 40px; */
}

.input-box {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 35px 0;
}

.input-field {
    margin: auto;
    width: 100%;
    height: 55px;
    font-size: 16px;
    background: transparent;
    color: var(--light-color);
    padding-inline: 20px 50px;
    border: 2px solid var(--border-color);
    border-radius: 30px;
    outline: none;
}

#user {
    margin-bottom: 10px;
}

.label {
    position: absolute;
    top: -28px;
    left: 20px;
    transition: 0.2s;
    text-shadow: 1px 1px 2px #00000073;
}

.input-field:focus~.label,
.input-field:valid .label {
    position: absolute;
    top: -10px;
    left: 20px;
    font-size: 14px;
    background-color: var(--secondary-color);
    border-radius: 30px;
    color: var(--primary-color);
    padding: 0 10px;
}

.icon {
    position: absolute;
    top: 18px;
    right: 25px;
    font-size: 20px;
}

.remember-forgot {
    display: flex;
    justify-content: space-around;
    font-size: 15px;
    text-shadow: 1px 1px 2px #00000073;
}

.input-submit {
    margin: auto;
    width: 90%;
    height: 50px;
    background: var(--light-color);
    color: var(--primary-color);
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: 0.3s;
    filter: drop-shadow(2px 2px 4px #00000070);
}

.input-submit:hover {
    background: #e0fcac;
    color: #000;
}

.google-login {
    text-shadow: 1px 1px 2px #00000073;
}


@media only screen and (max-width: 564px) {
    .wrapper {
        padding: 20px;
    }

    .login_box {
        padding: 7.5em 1.5em 4em 1.5em;
    }

    .login {
        background-image: url("/backgrounds/cars-mobile.jpg");
    }

    .login-box {
        backdrop-filter: blur(5px);
        width: 97%;
    }
}

@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.icon.blinking {
    animation: blink 1s infinite;
}