.OnRoute table {
    border-radius: 10px;
}

.OnRoute th {
    background-color: #c0c0c0;
    color: #000;
    padding: 5px;
    font-weight: 500;
}

.OnRoute table td {
    border: 1px solid #fff;
    background: #fff;
    color: #070804;
    font-size: .9em;
    font-weight: 500;
    padding: 2px;
}

.OnRoute .title {
    background: #000;
    border: 1px solid #fff;
    color: #fff;
}

.OnRoute .name {
    background: rgb(47, 48, 35);
    text-transform: capitalize;
    text-align: left;
    color: #ffff;
    text-shadow: 1px 1px 2px #0000005e;
}

.OnRoute .id {
    background: #c0c0c0;
}

.OnRoute .id {
    width: 20px;
}

.OnRoute .status {
    width: 100px;
}

.OnRoute .active {
    background-color: greenyellow;
}

.OnRoute .inactive {
    background-color: red;
}

.OnRoute .closeTabBtn {
    text-align: right;
    background: transparent;
    border: unset;
    font-size: 1.2em;
    margin: auto;
    color: #fff;
    padding: 0;
}