
.MotoTaxiTable table td {
    border: 1px solid #fff;
    background-color: #fff;
    font-size: .8em;
    font-weight: 500;
    text-align: center;
    color: #000;
}

.MotoTaxiTable th {
    background-color: #c0c0c0;
    color: #000;
    padding: 5px;
    font-weight: 500;
}

.MotoTaxiTable .closeTabBtn {
    text-align: right;
    background: transparent;
    border: unset;
    font-size: 1.2em;
    margin: auto;
    color: #fff;
    padding: 0;
}

.MotoTaxiTable .id {
    width: 20px;
    background: #c0c0c0;
}

.MotoTaxiTable .code {
    font-weight: bold;
}

.MotoTaxiTable .value {
    font-weight: bold;
}

.MotoTaxiTable .name {
    background: rgb(4, 4, 46);
    text-transform: capitalize;
    text-align: left;
    color: #ffff;
    text-shadow: 1px 1px 2px #0000005e;
}

.MotoTaxiTable .monetized {
    text-transform: capitalize;
}

.MotoTaxiTable .status {
    background-color: green;
    text-transform: capitalize;
    color: #ffff;
    text-shadow: 1px 1px 2px #0000005e;
}

