.editContainer {
    margin: 50px auto;
    width: 350px;
    padding: 10px;
    border: 1px solid #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}

.editContainer label {
    text-align: left;
}

.editContainer #editBtn {
    margin-top: 10px;
    font-weight: bold;
    text-transform: uppercase
}

.editContainer #editBtn:hover {
    background-color: #a3eb2c;
    color: #070804;
}