
.CargoTable table td {
    border: 1px solid #fff;
    background-color: #fff;
    font-size: .9em;
    font-weight: 500;
    text-align: center;
    color: #000;
}

.CargoTable th {
    background-color: #c0c0c0;
    color: #000;
    padding: 5px;
    font-weight: 500;
}

.CargoTable .closeTabBtn {
    text-align: right;
    background: transparent;
    border: unset;
    font-size: 1.2em;
    margin: auto;
    color: #fff;
    padding: 0;
}

.CargoTable .id {
    width: 20px;
    background: #c0c0c0;
}

.CargoTable .code {
    font-weight: bold;
}

.CargoTable .value {
    font-weight: bold;
}

.CargoTable .name {
    background: rgb(63, 15, 23);
    text-transform: capitalize;
    text-align: left;
    color: #ffff;
    text-shadow: 1px 1px 2px #0000005e;
}

.CargoTable .monetized {
    text-transform: capitalize;
}

.CargoTable .status {
    background-color: green;
    text-transform: capitalize;
    color: #ffff;
    text-shadow: 1px 1px 2px #0000005e;
}