
.CashlessTable table td {
    border: 1px solid #fff;
    background-color: #fff;
    font-size: .9em;
    font-weight: 500;
    color: #000;
    padding: 2px;
}

.CashlessTable th {
    background-color: #c0c0c0;
    color: #000;
    padding: 5px;
    font-weight: 500;
}

.CashlessTable .closeTabBtn {
    text-align: right;
    background: transparent;
    border: unset;
    font-size: 1.2em;
    margin: auto;
    color: #fff;
    padding: 0;
}

.CashlessTable .id {
    width: 20px;
    background: #c0c0c0;
}

.CashlessTable .code {
    font-weight: bold;
}

.CashlessTable .city {
    background: rgb(4, 44, 4);
    text-transform: capitalize;
    text-align: left;
    color: #ffff;
    text-shadow: 1px 1px 2px #0000005e;
}

.CashlessTable .status {
    background-color: green;
    color: #ffff;
    text-shadow: 1px 1px 2px #0000005e;
    text-transform: capitalize
}
