.news{
    margin-bottom: 200px;
}

.newsContainer {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 15px;
    padding: 10px;
}

.new {
  width: 500px;
  background-color: rgba(68, 68, 67, 0.253);
  border-radius: 5px;
  padding: 10px;
  box-shadow: 1px 1px 5px rgba(144, 238, 144, 0.425);
  cursor: pointer;
}

.newDate {
    color: rgb(241, 241, 142);
    font-size: .8em;
    margin-bottom: 10px;
    padding: 5px;
}

.newTitle {
    color: rgb(125, 226, 43); 
    text-transform: uppercase;
}

.newMonth {
    background-color: black;
    padding: 5px 0;
    border-radius: 3px;
    text-transform: capitalize;
    font-weight: bold;
}

.newsImages {
    display: flex;
    gap: 5px;
}

.newsLinks a {
    color: lightgreen;
}

.newImg {
    border-radius: 5px;
    max-width: 250px;
    max-height: 150px;
}

.hidden {
  display: none;
}

.visibleModal {
    background-color: rgba(0, 0, 0, 0.822);
    display: block;
    position: absolute;
    top: 0;
    left:0;
    height: 100vh;
    width: 100vw;
    white-space: pre-wrap;
    font-size: .9em;
}
.modalContent {
    width: 600px;
    position: relative;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(47, 51, 40);
    border-radius: 10px;
    padding: 10px;
    text-align: justify;
    color: #ffff;
}

.closeModal {
  text-align: right;
}
