.JustTable table {
    border-radius: 10px;
}

.JustTable th {
    background-color: #c0c0c0;
    color: #000;
    padding: 5px;
    font-weight: 500;
}

.JustTable table td {
    border: 1px solid #fff;
    background: #fff;
    color: #070804;
    font-size: .9em;
    font-weight: 500;
    padding: 2px;
}

.JustTable .title {
    background: #000;
    border: 1px solid #fff;
    color: #fff;
}

.JustTable .name {
    background: rgb(24, 41, 29);
    text-transform: capitalize;
    text-align: left;
    color: #ffff;
    text-shadow: 1px 1px 2px #0000005e;
    padding: 0 5px;
}

.JustTable .id {
    background: #c0c0c0;
}

.JustTable .id {
    width: 20px;
}

.JustTable .status {
    width: 100px;
    color: #fff;
    text-shadow: 1px 1px 2px #00000054;
}

.JustTable .active {
    background-color: green;
}

.JustTable .inactive {
    background-color: red;
}

.JustTable .closeTabBtn {
    text-align: right;
    background: transparent;
    border: unset;
    font-size: 1.2em;
    margin: auto;
    color: #fff;
    padding: 0;
}