

.TasksTable table {
    margin: auto;
}

.TasksTable th, .agents_title, .schemas_title{
    background: #05184e;
    color: #fff;
    text-shadow: 1px 1px 2px #00000073;
    text-transform: capitalize;
}

.agents_title, .schemas_title {
    writing-mode: vertical-lr;
    text-orientation: upright;
}

.TasksTable .agent_title {
    border: 1px solid #fff;
    font-weight: bold;
}

.TasksTable td {
    padding: 2px 5px;
}

.TasksTable .days, .dates {
    padding: 0;
    font-size: .8em;
}

.TasksTable .days {
    background: #000;
    color: #fff;
}

.TasksTable .dates {
    background: #fff;
    color: #000;
}

.TasksTable .agent_name {
    background: #fff;
    color: darkblue;
    padding: 0 10px;
    text-align: left;
    text-transform: capitalize;
    font-weight: 500;
    text-shadow: 1px 1px 2px #0000003d;
}

.even,  .odd {
    padding: 0 6px;
    font-weight: 700;
    text-shadow: 1px 1px 2px #00000049;
    text-transform: capitalize;
}

.even {
    background-color:#fff ;
    color: #252525;
}

.odd {
    background-color: lightgray;
    color: #504f4f;
}

.case {
    color: rgb(10, 100, 131);
}

.chat {
    color: rgb(253, 58, 58);
}

.just {
    color: #000;
}

.reso {
    color: purple;
}

@media screen and (max-width:800px) {
    .TasksTable td {
        font-size: .8em;
        padding: 0;
    }
}