.YearsTable h2 {
    margin-top: 40px;
    text-shadow: 1px 1px 2px #0000005d;
}

span {
   padding: 0 2px;
}


.cnhMotoTable table td {
    border: 1px solid #fff;
    background-color: #fff;
    font-size: .8em;
    font-weight: 500;
    text-align: center;
    color: #424141;
}

.cnhMotoTable th {
    background-color: #c0c0c0;
    color: #000;
    padding: 5px;
    font-weight: 500;
    text-transform: capitalize;
}

.cnhMotoTable .id {
    width: 20px;
    background: #c0c0c0;
}

.cnhMotoTable .name {
    padding-left: 5px;
    background-color: bisque;
    font-weight: bold;
    text-transform: capitalize;
    text-align: left;
    color: #424141;
}

.cnhMotoTable .cnh {
    color: red;
    padding: 0 5px;
}

.closeTabBtn {
    text-align: right;
    border: unset;
    font-size: 1.2em;
    margin: auto;
    padding: 0;
    color: #fff;
}