
.ComfortTable table td {
    border: 1px solid #fff;
    background-color: #fff;
    font-size: .9em;
    font-weight: 500;
    color: #000;
    padding: 2px;
}

.ComfortTable th {
    background-color: #c0c0c0;
    color: #000;
    padding: 5px;
    font-weight: 500;
}

.ComfortTable .closeTabBtn {
    text-align: right;
    background: transparent;
    border: unset;
    font-size: 1.2em;
    margin: auto;
    color: #fff;
    padding: 0;
}

.ComfortTable .id {
    width: 20px;
    background: #c0c0c0;
}

.ComfortTable .code {
    font-weight: bold;
}

.ComfortTable .city {
    background: rgb(28, 13, 44);
    text-transform: capitalize;
    text-align: left;
    color: #ffff;
    text-shadow: 1px 1px 2px #0000005e;
}

.ComfortTable .status {
    color: #ffff;
    text-shadow: 1px 1px 2px #0000005e;
    text-transform: capitalize
}

.ComfortTable .active {
    background-color: green;
}

.ComfortTable .inactive {
    background-color: red;
}
