.InterCityTable {
    text-align: center;
}


.InterCityTable table td {
    border: 1px solid #fff;
    background-color: #fff;
    font-size: .9em;
    font-weight: 500;
    text-align: center;
    color: #000;
}

.InterCityTable th {
    background-color: #c0c0c0;
    color: #000;
    padding: 5px;
    font-weight: 500;
}

.InterCityTable .closeTabBtn {
    text-align: right;
    background: transparent;
    border: unset;
    font-size: 1.2em;
    margin: auto;
    color: #fff;
    padding: 0;
}

.InterCityTable .id {
    background: #c0c0c0;
    width: 20px;
}

.InterCityTable .code {
    font-weight: bold;
}

.InterCityTable .name {
    background: rgb(46, 34, 1);
    text-transform: capitalize;
    text-align: left;
    color: #ffff;
    text-shadow: 1px 1px 2px #0000005e;
    width: fit-content;
}

.InterCityTable .monetized {
    text-transform: capitalize;
}

.InterCityTable .status {
    background-color: green;
    text-transform: capitalize;
    color: #ffff;
    text-shadow: 1px 1px 2px #0000005e;
}

.InterCityTable .value {
    font-size: .8em;
}