.footer {
    margin-top: 30px;
    background: #0f0f0f;
    /* border-top: 2px solid #fff; */
    /* border-radius: 10px 10px 0 0; */
    padding-top: 23px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 26px;
    
}

.footer .separator {
    height: 70px;
    border-right: 1px solid #fff;
}

.logos {
    display: flex;
    justify-content: center;
    gap: 10px;
    border: 1px solid #c5c5c5;
    border-radius: 5px;
    padding: 8px 16px 8px 0;
}

.logos a {
    margin-left: 20px;
    color: #fff;
}

.legendMail:hover {
    color: rgb(255, 159, 159);
}

.legendTelegram:hover {
    color: rgb(205, 212, 252);
}

.legendGithub:hover {
    color: rgb(187, 156, 187);
}

.mail,
.telegram,
.github {
    font-size: 1.5em;
}

.telegram {
    color: rgb(168, 181, 255);

}

.github {
    color: rgb(117, 72, 117);
    margin-right: 2px;
}

.mail {
    color: rgb(243, 92, 92);
    margin-right: -3px;
}

.cartoon {
    filter: drop-shadow(1px 1px 1px #a2eb2c3d);
}

.name {
    font-style: italic;
    color: #c0c0c0;
}

.mark {
    flex: 100%;
    padding: 3px;
    background-color: #141414;
}

/* .footer h4 {
    color: #cbf7c0;
    margin-bottom: 10px;
    text-shadow: 1px 1px 2px #00000057;
}

.footer h3 {
    color: lightgray;
}
  
.footer a {
    color: #cbf7c0;
    text-shadow: 1px 1px 2px #00000057;
}
  
.footer a:hover {
    color: #a4ec34;
}

.footer span {
    text-shadow: 1px 1px 2px #000059;
}

@media screen and (max-width: 800px) {
    .footer {
        border-radius: 0;
    }
} */

@media screen and (max-width: 800px) {
    .footer {
        row-gap: 24px;
    }

    .author {
        margin: 0;
    }

    .name {
        font-size: .8em;
    }

    .logos {
        padding: 18px 18px 18px 0;
    }

    .legendMail,
    .legendTelegram,
    .legendGithub {
        display: none;
    }

    .mail,
    .telegram,
    .github {
        font-size: 2em;
    }
}