
nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    gap: 7px;
    background-color: #000;
    padding: 6px;

}
  
nav a {
    padding: 3px 15px;
    border-radius: 5px;
    font-weight: bold;
    color: #000;
    flex-grow: 1;
    background-color: #fff;
    transition: .4s;
    /* border: 1px solid #c7f7a7; */
}
  
nav a:hover {
    background: #7df52d;
    color: #47571c;
    box-shadow: 0 0 12px #7df52d;
    border-color: #7df52d;
    text-decoration: none;
}
  
.active {
    background: #000;
    color: #fff;
    border: 1px solid #c7f7a7;
}
  
.active:hover {
    color: green;
}