
.Shedule h1 {
    font-size: 1.5em;
    color: #fff;
    background-color: black;
    width: 80%;
    padding: 0 20px;
    border-radius: 7px;
    margin: 60px auto;
}

.Shedule .tasksTableContainer {
    margin-top: 110px;
}

.usersContainer {
    width: fit-content;
    margin: 50px auto;
}

.userLine {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    gap: 5px;
    margin-bottom: 5px;
    border-bottom: 1px solid #fff;
    /* background-color: aquamarine; */
}

.userName {
    background-color: rgba(15, 13, 13, 0.37);
    width: 150px;
}

.userStatus {
    background-color: #6b6b6870;
    width:100px;
    font-size: 1.3em;
    border-top-right-radius: 4px;
}


.blink {
   animation: blink-animation .8s steps(1, start) infinite;
   filter: drop-shadow(0 0 5px yellow);
   color: rgba(223, 247, 179, 0.856);
   text-transform: uppercase;
   font-weight: bold;
   /* font-style: italic; */
}

@keyframes blink-animation {
    50% {
        visibility: hidden;
    }
}



@media screen and (max-width: 570px) {
    .Shedule h1 {
        font-size: 1.3em;
        padding: 0 5px;
    }
}