
.Shedule h1 {
    font-size: 1.5em;
    color: #fff;
    background-color: black;
    width: 80%;
    padding: 0 20px;
    border-radius: 7px;
    margin: 60px auto;
}

.Shedule .tasksTableContainer {
    margin-top: 110px;
}

@media screen and (max-width: 570px) {
    .Shedule h1 {
        font-size: 1.3em;
        padding: 0 5px;
    }
}