

.Links h1{
    font-size: 1.5em;
    color: #fff;
    background-color: black;
    width: 80%;
    padding: 0 20px;
    border-radius: 5px;
    margin: 60px auto;
}

.loadingContainer {
    margin-bottom: 160px;
}

