
.AcTable table td {
    border: 1px solid #fff;
    background-color: #fff;
    font-size: .9em;
    font-weight: 500;
    color: #070804;
    padding: 5px;
}

.AcTable th {
    background-color: #c0c0c0;
    color: #000;
    padding: 5px;
    font-weight: 500;
}

.AcTable .closeTabBtn {
    text-align: right;
    background: transparent;
    border: unset;
    font-size: 1.2em;
    margin: auto;
    color: #fff;
    padding: 0;
}

.AcTable .title {
    background: #181818; 
    border: 1px solid #fff;
    color: #fff;
}

.AcTable .id {
    background-color:#c0c0c0;
    width: 20px;
}

.AcTable .code {
    font-weight: bold;
}

.AcTable .name {
    background: #0b2731;
    text-transform: capitalize;
    text-align: left;
    color: #ffff;
    text-shadow: 1px 1px 2px #0000005e;
}

.AcTable .status {
    background-color: green;
    color: #ffff;
    text-shadow: 1px 1px 2px #0000005e;
    text-transform: capitalize;
}