

.AyanTable table td {
    border: 1px solid #fff;
    background-color: #fff;
    font-size: .9em;
    font-weight: 500;
    color: #000;
    padding: 2px;
}

.AyanTable th {
    background-color: #c0c0c0;
    color: #000;
    padding: 5px;
    font-weight: 500;
}

.AyanTable .closeTabBtn {
    text-align: right;
    font-weight: 500;
    background: transparent;
    border: unset;
    font-size: 1.2em;
    margin: auto;
    color: #fff;
    padding: 0;
}

.AyanTable .id {
    width: 20px;
    background: #c0c0c0;
}

.AyanTable .name {
    background: #381520;
    text-transform: capitalize;
    text-align: left;
    font-weight: 500;
    color: #ffff;
    text-shadow: 1px 1px 2px #0000005e;
}

.AyanTable .code {
    font-weight: bold;
}

.AyanTable .status {
    background-color: green;
    color: #ffff;
    text-shadow: 1px 1px 2px #0000005e;
    text-transform: capitalize;
}